/* Variables */

:root {
  --main-color: #191c32;
  --primary-color: aqua;
  --secondary-color: #fff;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main styling */

body,
html {
  font-family: "Raleway", sans-serif;
  color: var(--secondary-color);
  line-height: 1.7em;
  background-color: var(--main-color);
}

hr {
  border: 0.5px solid var(--secondary-color);
}

/* Utility Classes */
a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 30px;
}

.section {
  padding: 20px 0;
  overflow: hidden;
}

.line-break {
  padding-bottom: 10px;
}

.section-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  position: relative;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.title:before {
  content: attr(data-title);
  display: block;
  margin-bottom: 0.4rem;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title:after {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  border-radius: 3px;
  background-color: var(--primary-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.text {
  max-width: 600px;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--main-color);
}

.nav-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5 rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.navbar span {
  color: var(--primary-color);
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-menu li a {
  display: block;
  padding: 20px;
  text-align: center;
  color: var(--secondary-color);
}

.nav-menu li a:hover {
  background: var(--primary-color);
  color: var(--main-color);
}

.nav-menu li a.current {
  color: var(--primary-color);
}

.nav-menu li a.current:hover {
  color: var(--main-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}



.logo img {
  height: 40px;
  width: auto;
}

/*Banner Home*/
.banner-header {
  height: 60vh;
  width: 100%;
  overflow: hidden;
  background: var(--main-color);
  background:
    linear-gradient(rgba(29, 38, 113, 0.6), rgba(94, 108, 235, 0.6)),
    url("../img/imagen1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-header-text {
  height: 100%;
  width: 60%;
  margin: auto;
  text-align: center;
  display: grid;
  place-content: center;
}

.banner-title {
  font-size: 3em;
  padding-bottom: 20px;
}

.banner-title span {
  color: var(--primary-color);
}

.btn {
  display: inline-block;
  padding: 5px 15px;
  background-color: var(--primary-color);
  margin-top: 10px;
  border-radius: 20px;
  color: var(--main-color);
  justify-self: center;
  transition: 0.5s;
}

.btn:hover {
  background: var(--secondary-color);
}

/*Portfolio*/
img {
  object-fit: cover;
}

.portfolio h3 {
  text-align: center;
}

.card img {
  width: 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  transition: 0.3s;
}

.card:hover img {
  transform: translateY(-15px);
  border: 2px solid var(--primary-color);
  box-shadow: 0 10px 25px rgba(0, 255, 255, 0.2);
}

.card-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.hireme {
  text-align: center;
}

.hireme p {
  padding-bottom: 10px;
}

/* Footer */
.main-footer {
  height: 80px;
  display: flex;
  background: var(--main-color);
  align-items: center;
}

.main-footer .container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.footer-social li i {
  color: var(--primary-color);
  font-size: 1.1rem;
  transition: 0.3s;
}

.footer-social {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-social li a:hover i {
  color: var(--secondary-color);
  transform: translateY(-5px);
}

/* Contact */
.card-info {
  display: grid; /* Define el contenedor como una cuadrícula */
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
  gap: 20px; /* Espacio de 20px entre filas y columnas */
  text-align: center;
}

.form-map {
  margin: 30px;
  display: grid; /* Define el contenedor como una cuadrícula */
  grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual tamaño */
  gap: 20px;
}

.form-map iframe {
  height: 400px;
  width: 100%;
}

.box-form .input-form {
  margin-bottom: 20px;
}

.box-form input,
.box-form textarea {
  width: 100%;
  padding: 10px;
  border: 2px var(--secondary-color) solid;
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.box-form input:focus,
.box-form textarea:focus {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.box-form textarea {
  height: 200px;
}

.box-form input:focus,

.box-form textarea:focus {
  outline: none;
  border-color: var(--main-color);
}

.box-form button {
  width: 100%;
}

.section.me .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.section.me .container > div {
  border: 2px solid var(--primary-color);
  padding: 30px;
  border-radius: 15px;
  background-color: rgba(119, 3, 3, 0.03);
  transition: 0.3s ;
}


.section.me .container > div:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 25px rgba(0, 255, 255, 0.2);
}

.section.me .my{
  text-align: center;
  gap: 30%;
}

.single-project-info {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Una fila para arriba, dos filas iguales para las columnas en el medio, y una fila para abajo */
  grid-template-columns: 1fr 1fr; /* Dos columnas para las secciones izquierda y derecha */
  grid-gap: 20px;
}

.single-project-description,
.single-project-btn {
  text-align: center;
  grid-column: 1 / -1;
}

.single-project-img img {
  width: 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
}

.single-project-details ul {
  list-style: none;
  padding-bottom: 20px;
}

.single-project-btn .prev {
  float: left;
}

.single-project-btn .next {
  float: right;
}

/* About Me */
.about {
  text-align: center;
}

.about a {
  color: var(--secondary-color);
  text-decoration: none;
}

.txt-btn {
  font-size: 1em;
}

.skills {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  margin: 30px 0;
}

.card-skill img {
  width: 100%;
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.card-skill img:hover {
  transform: scale(1.1);
  border: 2px solid var(--secondary-color);
  transition: 0.3s;
  box-shadow: 0 10px 25px rgba(0, 255, 255, 0.2);
}